@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(reset.css);


.logo__top {
	max-width: 100%;
	margin: 0 auto 115px;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}
body {
	font-family: Poppins, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.78;
	color: #6C757D;
}
.article__container {
}
.article__text-block {
	max-width: 816px;
	margin: 0 auto 80px;
}
.article__title {
	color: #212529;
	font-size: 25px;
	line-height: 1.6;
	font-weight: 700;
	margin-bottom: 40px;
	max-width: 605px;
}
p {
	line-height: 1.78;
	margin-bottom: 30px;
}
.item {
	max-width: 100%;
	margin-bottom: 80px;
}
.image__block {
	font-size: 0px;
}
.first {
	margin-right: 30px;
}
footer {
	min-height: 150px;
	background-color: #212529;
}
footer > .last__container > div {
	text-align: center;
}
.footer__link-item {
	margin: 50px 30px;
	display: inline-block;
}
.button {
	display: inline-block;
	padding: 10px;
	background-color: #212529;
	color: azure;
	border-radius: 15px;
	border: 1px solid yellowgreen;
	box-shadow:  10px 10px 10px 0 grey;
	margin-bottom: 20px;
	position: relative;
	top: 0;
	transition: all 0.3s;
}
.button:hover {
	top: 3px;
	box-shadow: 0 2px 0 0 #000;
}