@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(reset.css);


[class*="__container"] {
	max-width: 1240px;
	margin: 0 auto;
}
body {
	font-family: Poppins, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.78;
	color: #6C757D;
}
.main__logo-item {
	margin: 0 auto 115px;
	width: 100%;
	}
h1,
h2 {
	font-family: Poppins, sans-serif;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	max-width: 605px;
	margin-bottom: 40px;
}
p {
	margin-bottom: 30px;
}
.text__block {
	max-width: 816px;
	margin: 0 auto 80px;
}
[class^="image"] {
	width: 100%;
	margin: 0 auto 80px;
}
.image__block-2 {
	font-size: 0px;
}
.oak {
	max-width: 100%;
	height: auto;
	}
.boat { 
	margin-right: 30px;
}
